
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-image: url(../../../../Pictures/food_photos/Stir-fry-recipes-aab9292.png);
}

#title{
    text-decoration: underline;
    font-size: 60px;
}

#introduction{
font-size: 15px;
}

ul{
    list-style: none;
}
ol{
    list-style: none;
}
